.reviews {
  color: var(--color);
  background-color: var(--background-color);
  padding: 20px;
}

.reviews h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.reviews ul {
  list-style: none;
  padding: 0;
}

.reviews ul li {
  margin-bottom: 1em;
}

.reviews ul li p {
  margin: 0;
  font-size: 1em;
}
